body{
    margin: 0;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url("./images/background.png") top left / cover;
        /* background-color: #000; */
}
#canvas {
    background: #000;
    /* center canvas */
    display: block;
    margin: auto;
    height: 100vh;
    width: auto;
}
/* canvas needs to be centered differently if the screen width is smaller than the canvas width */
@media only screen and (max-width: 680px) {
    #canvas {
        width: 100vw;
        height: auto;
    }
}
